<html><body>
    <div>
        {{ time2 }}
        {%for i in num %}
            <p>{{ i }}</p>
            <p>{{ name }}</p>
                {%for j in num %}
                    <p>{{ city }}</p>
                {% endfor %}
                {% if i %}
                    {%if time2 %}
                        <p>{{ i }}</p>
                        <p>{{ time2 }}</p>
                    {% endif %}
                    {% if time3%}
                        <p>{{ time3 }}</p>
                    {%endif %}
                    <p>{{time }}</p>
                {% endif %}
        {% endfor %}
    </div>
</body></html>